*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    /* background: rgb(0,0,0); */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(43, 43, 43) 50%, rgb(0, 0, 0) 100%);
}

/* common style  */
.display-flex{
    display: flex;
}
.tab-btn{
    background-color: #e6533c;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
}
.common-btn{
    background-color: #e6533c;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 16px 40px;
    border-radius: 46px;
    border: none;
}
.section-description{
    color: #ffffff80;
    margin: 16px 0;
}
/* common style end */

/* nav section start here  */
header{
    max-width: 1070px;
    margin: 50px auto;
    padding: 0 5px;
    /* background: linear-gradient(180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    /* border: 1px solid white; */
}
.mainNav{
    align-items: center;
    justify-content: space-between;

}
.tabContainer{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px;

}
.nav-title{
    color:  #e6533c;
    font-weight: 800;
    font-size: 2.25rem;
}
.listContainer{
    display: flex;
    gap: 47px;
    
}
.list-content{
    list-style: none;
    padding: 15px;
}
.item-link{
    text-decoration: none;
    color: white;
}

.nav-menu{
    width: 20px;
    display: none;
}


/* hero section start here  */
.heroSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content:space-between;
    gap: 60px;
}

.heroTitleContainer{
    max-width: 520px;
}
.heroImgContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}
.heroTitle{
    color: white;
    font-weight: 900;
    font-size: 4.875rem;
    margin-bottom: 16px;
}
.heroTitelDesign{
    font-family: "Fleur De Leah", cursive;
}
.third-btn{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 16px;
}

.heroImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.imgTitleBox{
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 24px;
    width: 200px;
    border-radius: 12px;
}
.imgTitleBox-position1{
    position: absolute;
    right: 0;
    top: 200px;
}
.imgTitleBox-position2{
    position: absolute;
    bottom: 50px;
}
.imgTitle{
    font-size: 2.5rem;
    font-weight: 900;
}
.imgdescription{
    font-size: 0.813rem;
    color: #ffffffa6;
}
.circle{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}
.flex-style{
    align-items: center;
    gap: 12px;
}




/* mobile screen responsive design here  */
@media screen and (max-width: 576px) {
    
    header{
        margin: 10px auto;
    }
    .tabContainer{
        border: none;
    }
    .listContainer{
        display: none;
    }
    .nav-menu{
        display: block;
    }

    .heroSection{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
}