*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    /* background: rgb(0,0,0); */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(43, 43, 43) 50%, rgb(0, 0, 0) 100%);
}

/* common style  */
.display-flex{
    display: flex;
}
.tab-btn{
    background-color: #e6533c;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
}
.common-btn{
    background-color: #e6533c;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 16px 40px;
    border-radius: 46px;
    border: none;
}
.section-description{
    color: #ffffff80;
}
/* common style end */
header{
    max-width: 1070px;
    margin: 50px auto;
    padding: 0 5px;
    /* background: linear-gradient(180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    /* border: 1px solid white; */
}
.mainNav{
    align-items: center;
    justify-content: space-between;

}
.tabContainer{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px;

}
.nav-title{
    color:  #e6533c;
    font-weight: 800;
    font-size: 2.25rem;
}
.listContainer{
    display: flex;
    gap: 47px;
    
}
.list-content{
    list-style: none;
    padding: 15px;
}
.item-link{
    text-decoration: none;
    color: white;
}

.nav-menu{
    width: 20px;
    display: none;
}


/* hero section start here  */
.heroSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.heroTitle{
    color: white;
    font-weight: 900;
    font-size: 4.875rem;
}
.heroTitelDesign{
    font-family: "Fleur De Leah", cursive;
}
.third-btn{
    background-color: transparent;
    border: 1px solid white;
}
/* mobile screen responsive design here  */
@media screen and (max-width: 576px) {
    
    header{
        margin: 10px auto;
    }
    .tabContainer{
        border: none;
    }
    .listContainer{
        display: none;
    }
    .nav-menu{
        display: block;
    }

    .heroSection{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
}